@import 'nib'
@import url("../font/open-sans/font.css");
global-reset()

$default-bg = #f0f0f0
$default-border = #c8c8c8
$delay = unit(250, ms)

body
	font-family sans-serif
	
li
	margin-left 16px
	list-style-position inside

ol > li
	list-style-type decimal
		
ul > li
	list-style-type disc 
	
.gdg-logo
	background: url(../img/header-background.jpg)
	font normal 500% 'Open Sans', sans-serif
	padding 20px 0px 0px 20px
	margin 0px
	
	> span
		position relative
		left 20px
		top -20px
		
		> b
			font-weight bolder
	
	> img
		height 100px

.nav-gradient-line
	background linear-gradient(left, #d74137, #069851, #f7c53c, #4485f3)
	height 0px

#navigation
	$font-size-normal = 150%
	$font-size-current = 250%
	$text-color-normal = #aaa
	$text-color-current = black
	
	$font-transition = font-size 250ms ease
	$appear-transition = opacity 1s ease, visibility 0s 1s
	$appear-transition-delayed = opacity 1s ease 1s, visibility 0s 1s

	padding 5px 20px 5px 30px
	background $default-bg
	font-size $font-size-current
	color $text-color-normal

	.loading
		position: absolute
		vertical-align baseline
		
		&.inactive
			opacity 0
			visibility hidden
			transition $appear-transition
	
	.nav-item
		margin-right 20px
		vertical-align baseline
		font-size (100 * $font-size-normal / $font-size-current)
		transition $font-transition, $appear-transition-delayed
		cursor pointer
		
		&.inactive
			opacity 0
			visibility hidden

		&.current, &:hover
			font-size 100%
		
		&.current
			color $text-color-current
			
#container
	margin 0px 0px 0px 20px
	transition opacity 1s ease 1s
	
	&.inactive
		opacity 0
	
	> div
		position absolute
		opacity 0

		&.about, &.selected
			transition opacity $delay ease

		&.past, &.future, &.members
			opacity 1
			
		&.members
			margin-top 20px
			
		&.current
			opacity 1
			z-index 10

		&.tiled, &.columns
			> .column
				vertical-align top
				display inline-block

			> .block, > .column
				opacity 0
			
			&.current 
				> .block, > .column
					opacity 1
				
.block
	$margin = 20px
	$padding = 10px

	border 1px solid $default-border
	background-color $default-bg

	&.event
		$width = 360px
		$height = 360px
		$fadeout-height = 50px
		$bottom-height = 10px

		display inline-block
		overflow hidden
		vertical-align top
		padding 0px $padding $padding $padding
		margin $margin $margin 0px 0px
		width $width
		height $height
		cursor pointer
		border-width 20px 0px 20px 0px
		
		&:hover
			border-color darken($default-border, 20%)
			transition border-color 100ms
			
		&.selected
			width 720px
			height auto
			transform none
			cursor auto
			border-color darken($default-border, 20%)
			transition none
			
			.photos
				height 160px
		
		.topics
			position absolute
			width $width
			margin-top -30px
			text-align right
			.topic
				display inline-block
				height 30px
				width 30px
				padding 5px
				background $default-bg
				border 1px solid $default-border
				margin-left: 10px
		
		.fadeout
			position absolute
			margin-top ($height + $padding - $fadeout-height - $bottom-height)
			width $width
			height $fadeout-height
			background-image linear-gradient(top, rgba(240,240,240,0), rgba(240,240,240, 1))
		
		.bottom
			position absolute
			margin-top ($height + $padding - $bottom-height)
			width $width
			height $bottom-height
			background $default-bg

		.date
			padding 8px 0px 4px 0px
			font-size 36px
			display inline-block

		.title 
			font-size 24px
			margin-bottom 12px
			margin-top 6px
			line-height 120%

		.description
			line-height 120%

		.photos 
			height 104px
			margin-bottom 12px
			.pwi_container
				background transparent
				padding 0px
				> div
					white-space nowrap
					overflow hidden
					> .pwi_photo
						display inline-block
						float none
						margin 0px 10px 0px 0px

	&.member 
		display block
		vertical-align top
		
		padding $padding
		margin 0px $margin $margin 0px
		width 240px
		
		border 1px solid black
		background white

		.name 
			font-size 150%
			
.delayed
	$limit = 10
	delay($i)
		unit(round($delay * (($i - 1)/$i)), ms)
	
	transition-delay $delay  
	
	for $i in 1..$limit
		&:nth-child({$i})
			transition opacity 500ms ease delay($i)
