@import url("../font/open-sans/font.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: sans-serif;
}
li {
  margin-left: 16px;
  list-style-position: inside;
}
ol > li {
  list-style-type: decimal;
}
ul > li {
  list-style-type: disc;
}
.gdg-logo {
  background: url("../img/header-background.jpg");
  font: normal 500% 'Open Sans', sans-serif;
  padding: 20px 0px 0px 20px;
  margin: 0px;
}
.gdg-logo > span {
  position: relative;
  left: 20px;
  top: -20px;
}
.gdg-logo > span > b {
  font-weight: bolder;
}
.gdg-logo > img {
  height: 100px;
}
.nav-gradient-line {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #d74137), color-stop(0.25, #069851), color-stop(0.5, #f7c53c), color-stop(1, #4485f3));
  background: -webkit-linear-gradient(left, #d74137 0%, #069851 25%, #f7c53c 50%, #4485f3 100%);
  background: -moz-linear-gradient(left, #d74137 0%, #069851 25%, #f7c53c 50%, #4485f3 100%);
  background: linear-gradient(left, #d74137 0%, #069851 25%, #f7c53c 50%, #4485f3 100%);
  height: 0px;
}
#navigation {
  padding: 5px 20px 5px 30px;
  background: #f0f0f0;
  font-size: 250%;
  color: #aaa;
}
#navigation .loading {
  position: absolute;
  vertical-align: baseline;
}
#navigation .loading.inactive {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  visibility: hidden;
  -webkit-transition: opacity 1s ease, visibility 0s 1s;
  -moz-transition: opacity 1s ease, visibility 0s 1s;
  transition: opacity 1s ease, visibility 0s 1s;
}
#navigation .nav-item {
  margin-right: 20px;
  vertical-align: baseline;
  font-size: 60%;
  -webkit-transition: font-size 250ms ease, opacity 1s ease 1s, visibility 0s 1s;
  -moz-transition: font-size 250ms ease, opacity 1s ease 1s, visibility 0s 1s;
  transition: font-size 250ms ease, opacity 1s ease 1s, visibility 0s 1s;
  cursor: pointer;
}
#navigation .nav-item.inactive {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  visibility: hidden;
}
#navigation .nav-item.current,
#navigation .nav-item:hover {
  font-size: 100%;
}
#navigation .nav-item.current {
  color: #000;
}
#container {
  margin: 0px 0px 0px 20px;
  -webkit-transition: opacity 1s ease 1s;
  -moz-transition: opacity 1s ease 1s;
  transition: opacity 1s ease 1s;
}
#container.inactive {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
#container > div {
  position: absolute;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
#container > div.about,
#container > div.selected {
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
#container > div.past,
#container > div.future,
#container > div.members {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#container > div.members {
  margin-top: 20px;
}
#container > div.current {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  z-index: 10;
}
#container > div.tiled > .column,
#container > div.columns > .column {
  vertical-align: top;
  display: inline-block;
}
#container > div.tiled > .block,
#container > div.columns > .block,
#container > div.tiled > .column,
#container > div.columns > .column {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
#container > div.tiled.current > .block,
#container > div.columns.current > .block,
#container > div.tiled.current > .column,
#container > div.columns.current > .column {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.block {
  border: 1px solid #c8c8c8;
  background-color: #f0f0f0;
}
.block.event {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  padding: 0px 10px 10px 10px;
  margin: 20px 20px 0px 0px;
  width: 360px;
  height: 360px;
  cursor: pointer;
  border-width: 20px 0px 20px 0px;
}
.block.event:hover {
  border-color: #a0a0a0;
  -webkit-transition: border-color 100ms;
  -moz-transition: border-color 100ms;
  transition: border-color 100ms;
}
.block.event.selected {
  width: 720px;
  height: auto;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  cursor: auto;
}
.block.event.selected .photos {
  height: 160px;
}
.block.event .topics {
  position: absolute;
  width: 360px;
  margin-top: -30px;
  text-align: right;
}
.block.event .topics .topic {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 5px;
  background: #f0f0f0;
  border: 1px solid #c8c8c8;
  margin-left: 10px;
}
.block.event .fadeout {
  position: absolute;
  margin-top: 310px;
  width: 360px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(240,240,240,0.00)), color-stop(1, #f0f0f0));
  background-image: -webkit-linear-gradient(top, rgba(240,240,240,0.00) 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, rgba(240,240,240,0.00) 0%, #f0f0f0 100%);
  background-image: linear-gradient(top, rgba(240,240,240,0.00) 0%, #f0f0f0 100%);
}
.block.event .bottom {
  position: absolute;
  margin-top: 360px;
  width: 360px;
  height: 10px;
  background: #f0f0f0;
}
.block.event .date {
  padding: 8px 0px 4px 0px;
  font-size: 36px;
  display: inline-block;
}
.block.event .title {
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 6px;
  line-height: 120%;
}
.block.event .description {
  line-height: 120%;
}
.block.event .photos {
  height: 104px;
  margin-bottom: 12px;
}
.block.event .photos .pwi_container {
  background: transparent;
  padding: 0px;
}
.block.event .photos .pwi_container > div {
  white-space: nowrap;
  overflow: hidden;
}
.block.event .photos .pwi_container > div > .pwi_photo {
  display: inline-block;
  float: none;
  margin: 0px 10px 0px 0px;
}
.block.member {
  display: block;
  vertical-align: top;
  padding: 10px;
  margin: 0px 20px 20px 0px;
  width: 240px;
  border: 1px solid #000;
  background: #fff;
}
.block.member .name {
  font-size: 150%;
}
.delayed {
  -webkit-transition-delay: 250ms;
  -moz-transition-delay: 250ms;
  transition-delay: 250ms;
}
.delayed:nth-child(1) {
  -webkit-transition: opacity 500ms ease 0ms;
  -moz-transition: opacity 500ms ease 0ms;
  transition: opacity 500ms ease 0ms;
}
.delayed:nth-child(2) {
  -webkit-transition: opacity 500ms ease 125ms;
  -moz-transition: opacity 500ms ease 125ms;
  transition: opacity 500ms ease 125ms;
}
.delayed:nth-child(3) {
  -webkit-transition: opacity 500ms ease 167ms;
  -moz-transition: opacity 500ms ease 167ms;
  transition: opacity 500ms ease 167ms;
}
.delayed:nth-child(4) {
  -webkit-transition: opacity 500ms ease 188ms;
  -moz-transition: opacity 500ms ease 188ms;
  transition: opacity 500ms ease 188ms;
}
.delayed:nth-child(5) {
  -webkit-transition: opacity 500ms ease 200ms;
  -moz-transition: opacity 500ms ease 200ms;
  transition: opacity 500ms ease 200ms;
}
.delayed:nth-child(6) {
  -webkit-transition: opacity 500ms ease 208ms;
  -moz-transition: opacity 500ms ease 208ms;
  transition: opacity 500ms ease 208ms;
}
.delayed:nth-child(7) {
  -webkit-transition: opacity 500ms ease 214ms;
  -moz-transition: opacity 500ms ease 214ms;
  transition: opacity 500ms ease 214ms;
}
.delayed:nth-child(8) {
  -webkit-transition: opacity 500ms ease 219ms;
  -moz-transition: opacity 500ms ease 219ms;
  transition: opacity 500ms ease 219ms;
}
.delayed:nth-child(9) {
  -webkit-transition: opacity 500ms ease 222ms;
  -moz-transition: opacity 500ms ease 222ms;
  transition: opacity 500ms ease 222ms;
}
.delayed:nth-child(10) {
  -webkit-transition: opacity 500ms ease 225ms;
  -moz-transition: opacity 500ms ease 225ms;
  transition: opacity 500ms ease 225ms;
}
