@import 'nib'
@import "reset.css"
@import url("font/open-sans/font.css");

$default-bg = rgb(240,240,240)
$default-border = rgb(200, 200, 200)
$delay = unit(250, ms)

body
	font-family sans-serif
	
.gdg-logo
	background: url(header-background.jpg)
	font normal 500% 'Open Sans', sans-serif
	padding 20px 0px 0px 20px
	margin 0px
	
	> span
		position relative
		left 20px
		top -20px
		
		> b
			font-weight bolder
	
	> img
		height 100px
	
#navigation
	$font-size-normal = 150%
	$font-size-current = 250%
	$text-color-normal = #aaa
	$text-color-current = black
	
	$font-transition = font-size 250ms ease
	$appear-transition = opacity 1s ease, visibility 0s 1s
	$appear-transition-delayed = opacity 1s ease 1s, visibility 0s 1s

	margin 0px 0px 10px 0px
	padding 5px 20px 5px 30px
	background $default-bg
	font-size $font-size-current
	color $text-color-normal

	.loading
		position: absolute
		vertical-align baseline
		
		&.inactive
			opacity 0
			visibility hidden
			transition $appear-transition
	
	.nav-item
		margin-right 20px
		vertical-align baseline
		font-size (100 * $font-size-normal / $font-size-current)
		transition $font-transition, $appear-transition-delayed
		cursor pointer
		
		&.inactive
			opacity 0
			visibility hidden

		&.current, &:hover
			font-size 100%
		
		&.current
			color $text-color-current
			
#container
	margin 0px 0px 0px 20px
	transition opacity 1s ease 1s
	
	&.inactive
		opacity 0
	
	> div
		position absolute
		opacity 0

		&.about
			transition opacity $delay ease

		&.past, &.future, &.members
			opacity 1
			
		&.members
			margin-top 20px
			
		&.current
			opacity 1
			z-index 10

		.block
			border 1px solid $default-border
			background $default-bg

		&.tiled, &.columns
			> .column
				vertical-align top
				display inline-block

			> .block, > .column
				opacity 0
			
			&.current 
				> .block, > .column
					opacity 1
				
.block
	$margin = 20px
	$padding = 10px

	&.event
		$width = 360px
		$height = 360px
		$fadeout-height = 50px
		$bottom-height = 10px

		display inline-block
		overflow hidden
		vertical-align top
		padding 0px $padding $padding $padding
		margin $margin $margin 0px 0px
		width $width
		height $height
		
		.fadeout
			position absolute
			margin-top ($height + $padding - $fadeout-height - $bottom-height)
			width $width
			height $fadeout-height
			background-image linear-gradient(top, rgba(240,240,240,0), rgba(240,240,240, 1))
		
		.bottom
			position absolute
			margin-top ($height + $padding - $bottom-height)
			width $width
			height $bottom-height
			background $default-bg

		.date
			font-size 48px
			font-weight lighter

		.title 
			font-size 24px
			margin-bottom 12px
			margin-top 6px

		.photos 
			margin-bottom 12px
			white-space nowrap
			overflow hidden

			img
				width 100px
				height 100px
				margin-right 10px

	&.member 
		display block
		vertical-align top
		
		padding $padding
		margin 0px $margin $margin 0px
		width 240px
		
		border 1px solid black
		background white

		.name 
			font-size 150%
			
.delayed
	$limit = 10
	delay($i)
		unit(round($delay * (($i - 1)/$i)), ms)
	
	transition-delay $delay  
	
	for $i in 1..$limit
		&:nth-child({$i})
			transition opacity 500ms ease delay($i)
