@import "reset.css";
@import url("font/open-sans/font.css");
body {
  font-family: sans-serif;
}
.gdg-logo {
  background: url("header-background.jpg");
  font: normal 500% 'Open Sans', sans-serif;
  padding: 20px 0px 0px 20px;
  margin: 0px;
}
.gdg-logo > span {
  position: relative;
  left: 20px;
  top: -20px;
}
.gdg-logo > span > b {
  font-weight: bolder;
}
.gdg-logo > img {
  height: 100px;
}
#navigation {
  margin: 0px 0px 10px 0px;
  padding: 5px 0px 5px 30px;
  background: #f0f0f0;
  font-size: 250%;
}
#navigation .nav-item {
  margin-right: 24px;
  vertical-align: baseline;
  font-size: 60%;
  -webkit-transition: font-size 250ms ease;
  -moz-transition: font-size 250ms ease;
  transition: font-size 250ms ease;
  cursor: pointer;
  color: #aaa;
}
#navigation .nav-item.current,
#navigation .nav-item:hover {
  font-size: 100%;
  -webkit-transition: font-size 250ms ease;
  -moz-transition: font-size 250ms ease;
  transition: font-size 250ms ease;
}
#navigation .nav-item.current {
  color: #000;
}
#container {
  margin: 0px 0px 0px 20px;
}
#container > div {
  position: absolute;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
#container > div.about {
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms;
}
#container > div.past,
#container > div.future,
#container > div.members {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#container > div.members {
  margin-top: 20px;
}
#container > div.current {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  z-index: 10;
}
#container > div.columns > .column {
  vertical-align: top;
  display: inline-block;
}
#container > div.tiled .block,
#container > div.columns .block {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms;
  border: 1px solid #c8c8c8;
  background: #f0f0f0;
}
#container > div.tiled.current .block,
#container > div.columns.current .block {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  transition: opacity 500ms;
}
.block.event {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  padding: 0px 10px 10px 10px;
  margin: 20px 20px 0px 0px;
  width: 360px;
  height: 360px;
}
.block.event .fadeout {
  position: absolute;
  margin-top: 310px;
  width: 360px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(240,240,240,0.00)), color-stop(1, #f0f0f0));
  background-image: -webkit-linear-gradient(top, rgba(240,240,240,0.00) 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(top, rgba(240,240,240,0.00) 0%, #f0f0f0 100%);
  background-image: linear-gradient(top, rgba(240,240,240,0.00) 0%, #f0f0f0 100%);
}
.block.event .bottom {
  position: absolute;
  margin-top: 360px;
  width: 360px;
  height: 10px;
  background: #f0f0f0;
}
.block.event .date {
  font-size: 48px;
  font-weight: lighter;
}
.block.event .title {
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 6px;
}
.block.event .photos {
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
}
.block.event .photos img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.block.member {
  display: block;
  vertical-align: top;
  padding: 10px;
  margin: 0px 20px 20px 0px;
  width: 240px;
  border: 1px solid #000;
  background: #fff;
}
.block.member .name {
  font-size: 150%;
}
